@import url('../styles/_fonts.scss');
@import url('../styles/_header.scss');

html{
  font-family: 'Suisse', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body{
  background: #000;
  color: #fff;
}